*{
  box-sizing: border-box;
}
.box {
  height: 100px;
  width: 100px;
}
.green {
  background-color: green;
  border: black solid 2px;
  float: right;
}
.blue {
  background-color: blue;
  float: right;
}
.red {
  background-color: red;
  border: black solid 2px;
  padding: 10px;
  margin-top: 20px;
  float: left;

}

.yellow {
  height: 50px;
  width: 50px;
  background-color: yellow;
}

.pink {
  background: pink;
}

.lila {
  background: purple;
}

#wrapper {
  clear: both;
  display: flex;
}
